<md-dialog style="width: 50%;">

    <md-toolbar>
        <div layout="row" class="md-toolbar-tools" layout-align="space-between center">
            <div>
                <span ng-bind="userModal.user._id ? 'Update user':'Add user'"></span>
            </div>

            <md-button ng-click="userModal.fnCloseDialogCancel()">
                <md-icon md-font-set="fa fa-lg fa-close m-t-5"></md-icon>
                <md-tooltip>close</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <form name="userModalForm" novalidate>
            <div layout="column" layout-margin>
                <md-input-container>
                    <label>Name</label>
                    <md-icon class="md-primary" md-font-set="fa fa-lg fa-user m-t-5"></md-icon>
                    <input required type="text" name="name" ng-model="userModal.user.name">

                    <div ng-messages="userModalForm.name.$error">
                        <div ng-message="required">This is required.</div>
                    </div>

                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <md-icon class="md-primary" md-font-set="fa fa-lg fa-envelope m-t-5"></md-icon>
                    <input required name="email" type="email" ng-model="userModal.user.email">

                    <div ng-messages="userModalForm.email.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="email">This field must be a valid email address.</div>
                    </div>
                </md-input-container>
                <md-input-container ng-if="!userModal.user._id">
                    <label>Password</label>
                    <md-icon class="md-primary" md-font-set="fa fa-lg fa-lock m-t-5"></md-icon>
                    <input required name="password" type="password" ng-model="userModal.user.password">

                    <div ng-messages="userModalForm.password.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container ng-if="!userModal.user._id">
                    <label>Confirm Password</label>
                    <md-icon class="md-primary" md-font-set="fa fa-lg fa-lock m-t-5"></md-icon>
                    <input required name="password_c" type="password" ng-model="userModal.user.password_c"
                           password-verify="userModal.user.password">

                    <div ng-messages="userModalForm.password_c.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="passwordVerify"> Password doesn't match.</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <md-icon class="md-primary" md-font-set="fa fa-lg fa-briefcase m-t-5"></md-icon>
                    <label>Role</label>
                    <md-select ng-model="userModal.user.role">
                        <md-option value="user">User</md-option>
                        <md-option value="guest">Guest</md-option>
                    </md-select>
                </md-input-container>
                <div layout="row" layout-align="end end">
                    <md-button aria-label="Add" type="submit"
                               ng-click="userModalForm.$valid && userModal.fnSaveUser(userModal.user);"
                               class="md-raised md-primary"
                               ng-bind="userModal.user._id ? 'Update user':'Add user'"></md-button>
                    <md-button class="md-raised md-warn" ng-click=" userModal.fnCloseDialogCancel()">
                        Cancel
                    </md-button>
                </div>
            </div>
        </form>
    </md-content>

</md-dialog>
