/**
 * App-wide Styles
 */

 .main-shell {
   .profile-container {
     height: 100%;
     font-size: 14px;

     .profile-name {
       font-weight: 500;
     }
   }
 }
.active{
    background-color: #7986cb;
    color: #fff;
}


// Component styles are injected through grunt
// injector
@import 'account/account.scss';
@import 'account/settings/userModal/userModal.scss';
@import 'scss/margin-padding.scss';
// endinjector
