/**
 * App-wide Styles
 */

.active {
    background-color: #7986cb;
    color: #fff;
}

md-icon {
    cursor: pointer;
}

// Component styles are injected through grunt
// injector
@import 'account/account.scss';
@import 'account/settings/userModal/userModal.scss';
@import 'scss/margin-padding.scss';
// endinjector
