.login-card, .register-card {
    max-width: 40%;
    margin: 0 auto;
}

.users-settings-container{
    min-height: 500px;
}

@media (max-width: 767px) {
    .login-card, .register-card {
        max-width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 767px) {
    .login-card, .register-card {
        max-width: 100%;
        margin: 0 auto;
    }
}
