<md-dialog style="width: 50%;" ng-init="conCtrl.fnInit();">

    <md-toolbar>
        <div layout="row" class="md-toolbar-tools" layout-align="space-between center">
            <div>
                <span ng-bind="conCtrl.contact._id ? 'Update contact':'Add contact'"></span>
            </div>

            <md-button ng-click="conCtrl.fnCloseDialogCancel()">
                <md-icon md-font-set="fa fa-lg fa-close m-t-5"></md-icon>
                <md-tooltip>close</md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <form name="contactForm" novalidate>
            <div layout="column" layout-margin>
                <md-input-container>
                    <label>Name</label>
                    <md-icon class="md-primary md-icon-float" md-font-set="fa fa-lg fa-user m-t-5"></md-icon>
                    <input required name="name" type="text" ng-model="conCtrl.contact.name"/>
                    <div ng-messages="contactForm.name.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <md-icon class="md-primary" md-font-set="fa fa-lg fa-envelope m-t-5"></md-icon>
                    <input required type="email" name="email" ng-model="conCtrl.contact.email"/>

                    <div ng-messages="contactForm.email.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="email">This field must be a valid email address.</div>
                    </div>

                </md-input-container>
                <md-input-container>
                    <label>Phone</label>
                    <md-icon class="md-primary" md-font-set="fa fa-lg fa-phone m-t-5"></md-icon>
                    <input required type="number" name="phone" ng-model="conCtrl.contact.phone"/>

                    <div ng-messages="contactForm.phone.$error">
                        <div ng-message="required">This is required.</div>
                    </div>

                </md-input-container>
                <div layout="row" layout-align="end none">
                    <md-button aria-label="Add" type="submit"
                               ng-click="contactForm.$valid && conCtrl.fnSaveContact(conCtrl.contact);"
                               class="md-raised md-primary"
                               ng-bind="conCtrl.contact._id ? 'Update contact':'Add contact'"></md-button>
                    <md-button class="md-raised md-warn" ng-click="conCtrl.fnCloseDialogCancel()">
                        Cancel
                    </md-button>
                </div>
            </div>
        </form>
    </md-content>

</md-dialog>
